  body {
    background-color: #ffffff;
  }
  
  * {
    margin: 75px;
    padding: 0;
    box-sizing: border-box;
  }

  .nomeTela h1 {
    font-family: "Jersey 25", sans-serif;
    font-size: 50px;
    align-content: center;
    margin-left: 34%;
    margin-top: 15%;
    color: rgb(0, 0, 0);
    
  }

  .nomeTela h3 {
    font-family: "Jersey 25", sans-serif;
    align-content: center;
    margin-left: 40%;
    margin-top: -4%;
    color: rgb(0, 0, 0);
  }

  .boardJogo {
    display: none;
    width: 80%;
    height: 600px;
    border: 2px solid #333;
    margin: 0 auto;
    position: relative;
    background-color: aliceblue;
  }
  
 
  #personagem.attack-on {
    position: absolute;
    bottom: -75px;
    width: 10px;
    left: 36.5%;
    transition: transform 0.1s linear;
  }

  #attackMove {
     position: absolute;
    bottom: -75px;
    left: 36.5%;
    width: 10%;
    display: none;
    pointer-events: none;
}

  .space2start {
    font-family: "Jersey 25", sans-serif;
    font-size: 20px;
    align-content: center;
    margin-left: 32.6%;
    margin-top: 20%;
    color: rgb(0, 0, 0);
  }